.header{
    padding-top: 2.187rem;
    &-nav{
        &__run{
            font-size: 30px;
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
            display: flex;
            justify-content: space-between;
        }
        
        &__logo{
            display: flex;
            align-items: center; 
            width: 25.062rem;
            justify-content: space-between;
            .logo{
                display: flex;
                align-items: center;   
                span{
                    margin-left: 1.562rem;
                    font-family: $fontFamili;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 19px;
                    color: #000000;
                } 
            }
            p{
                font-family: $fontFamili;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 120%;
            }
        }
                    
        &__navigation{
            display: flex;
            a{
                height: 16px;
                width: 16px;
                display: block;
                &:nth-child(1){
                    background:url(../img/icon/VB.png) center (center/cover) no-repeat;
                }
                &:nth-child(2){
                    background:url(../img/icon/TG.png) center (center/cover) no-repeat;
                    margin-left: 1.875rem;
                    margin-right: 1.875rem;
                }
                &:nth-child(3){
                    background:url(../img/icon/SK.png) center (center/cover) no-repeat;
                }
            }
            .menu-lines{
                margin-left: 3.312rem;
                cursor: pointer;
                height: 16px;
                position: relative;
                
                .car-bg{
                    position: absolute;
                    width: 28px;
                    margin-top: 4.25rem;
                    background: #fff;
                    border-radius:50%;
                    display: flex;
                    align-items:center;
                    justify-content:center;
                    .car-img{
                        background:url(../img/icon/box.png) center (center/cover) no-repeat;
                        height: 21px;
                        width: 28px;
                        display: block;
                    }
                }
                .car-show{
                    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
                    left: -15px;
                    height: 3.5rem;
                    width: 3.5rem;
                }
                span{
                    display: block;
                    background-color:#000;
                    transition: .3s ease;
                }
                span:nth-child(1){
                    width: 30px;
                    height: 3px;
                }
                span:nth-child(2){
                    width: 24px;
                    height: 3px;
                    float: right;
                    margin-top: 10px;
                }
            }
        }
    }
    .fixed{
        display: flex;
        justify-content: center;
        position: fixed;
        background-color:#fff;
        width: auto;
        left: 0;
        z-index: 9;
        transform: translateY(20px);
        transition: transform 0.9s;
        top: -20px;
        right: 0;
        left: 0;
    }
    .pseodo{
        display: flex;
        justify-content: space-between;
        width: 1170px;
        padding-left: 15px;
        padding-right: 15px;
    }
}