.slider{
    &-bl{
        &__list{
            display: flex!important;
            &__left{
                .img-slider{
                    width: 26.437rem;
                    position: relative;
                    background:url(../img/slider1/women.png) center (center/cover) no-repeat;
                    height: 471px;
                    background-position-y: -160px;
                    .slider-wrap-txt{
                        position: absolute;
                        background: #F1F9FF;
                        padding-left: 1.437rem;
                        padding-top: 4.5rem;
                        padding-bottom: 1rem;
                        padding-right: 4.312rem;
                        top: 60%;
                    }
                    .slider-min-txt{
                        font-family: $fontFamili;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 160%;
                        
                        span{
                            display: block;
                            font-family: $fontFamili;
                            font-style: normal;
                            font-weight: 300;
                            font-size: 14px;
                            line-height: 160%;
                        }
                    }
                }
            }
            &__right{
                margin-left: 5rem;
                padding-top: 4.125rem;
                p{
                    font-family: $fontFamili;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 28px;
                    line-height: 120%;
                    margin-bottom: 4.812rem;
                }

                span{
                    display: block;
                    max-width: 34.5rem;
                    font-family: $fontFamili;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 160%;
                }
            }
        }
    }
    .slick-dots{
        position: absolute;
        display: flex;
        top: 75%;
        right: 46%;
        li:nth-child(2){
                     margin-left: 2rem;
                     margin-right: 2rem;
                 }
        li button {
            font-size: 0;
            line-height: 0;
            display: block;
            // width: 20px;
            // height: 20px;
            // padding: 5px;
            border:none;
            outline: none;
            cursor: pointer;
            position: relative;
            padding: 0;
            &:before{
                cursor: pointer;
                position: absolute;
                font-family: 'slick';
                width: 8px;
                height: 8px;
                border-radius:50%;
                content: "";
                text-align: center;
                opacity: .25;
                background: #4505FB;
                z-index: 1;
                top: -8px;
                right: 32px;
                
            }
        }
        li.slick-active{
            button:before{
                opacity: 16.75;
                background: #C4C4C4;
             
            }
     } 
    }
    

    // .slick-dots{
    //     position: absolute;
    //     display: flex;
    //     top: 75%;
    //     right: 46%;
    //      li:nth-child(2){
    //          margin-left: 2rem;
    //          margin-right: 2rem;
    //      }
        
    //      li button {
    //         font-size: 0;
    //         line-height: 0;
    //         display: block;
    //         width: 20px;
    //         height: 20px;
    //         padding: 5px;
    //         cursor: pointer;
    //         color: #0c0c0c00;
    //         // border: none;
    //         outline: none;
    //         background-color: aqua;
    //         z-index: -1;
    //         &:before{
    //             // font-family: 'slick';
    //             // font-size: 6px;
    //             // line-height: 20px;
    //             // position: absolute;
    //             // top: 0;
    //             // left: 0;
    //             // width: 8px;
    //             // height: 8px;
    //             // border-radius:50%;
    //             // content: "";
    //             // text-align: center;
    //             // opacity: .25;
    //             // background-color:#C4C4C4;

    //             font-family: 'slick';
    //             font-size: 68px;
    //             line-height: 20px;
    //             position: absolute;
    //             top: 0;
    //             left: 0;
            //    width: 20px;
            //    height: 20px;
            //    content: "";
            //    text-align: center;
            //    opacity: .25;
            //    background-color: aqua;
    //             z-index: 9;
    //             // -webkit-font-smoothing: antialiased;
                
    //         }
    //      }

        li.slick-active{
               button:before{
                   opacity: 16.75;
                   background-color: red;
                
               }
        } 
     
    // }
}